
<div class="list-group px-2 mb-2">
  <li class="list-group-item"><strong>#</strong> <%= index+1%></li>
  <li class="list-group-item"><strong>Name:</strong> <%= passenger[:name]%></li>
  <li class="list-group-item"><strong>Email:</strong> <%= passenger[:email]%></li>
</div>