<h1>Your flight has been booked!</h1>
<%= render 'flight_details', flight: @booking.flight %>

<h3>Passengers Details</h3>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <%= render partial: "passenger_details", :locals =>  { :index => index, :passenger => passenger}%>
  <% end %>
