<h1>Your flight has been booked!</h1>
<%= render 'flight_details', flight: @booking.flight %>

<h3>Passengers Details</h3>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <p>#<%= index+1%></p>
    <%= render "passenger_details", passenger: passenger%>
  <% end %>
