<!-- Image and text -->
<nav class="navbar navbar-light bg-success">
  <a class="navbar-brand text-white" href="#">
    <img src="plane.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Fligh Booker
  </a>
</nav>