<!-- Image and text -->
<nav class="navbar navbar-light bg-success">
    <%= image_tag "plane.svg", width:"30",  height:"30",  class:"d-inline-block align-top", alt:"" %>
  <%= link_to 'Flight Booker', root_path, class: "navbar-brand text-white mr-auto" %>
</nav>